<ul class="nav nav-pills">
  <li class="active"><a routerLink="/register" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register</a></li>
  <li><a routerLink="/signin" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a></li>
</ul>
<div class="jumbotron">
  <h1>Tasks2Gather</h1>
  <p>
    This is a simple prototype of a website aimed at helping people work more efficiently by communicating
    with one another about common tasks they have to solve. Our users can organize groups with different
    users and tasks and can communicated with one another related to these tasks.
    If you are interested in using our website, please click the registration button to create a new account
    or click the login button to sign in with an existing accout.
  </p>
</div>
<router-outlet></router-outlet>